.footer {
	overflow: hidden;

	position: relative;
	
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		right: 0;
		left: 0;
		height: 10px;

		box-shadow: 4px 4px 9px -3px rgba(50, 50, 50, 0.34);
	}
}

.footer-left {

	@media #{$medium-up} {
		position: relative;
		padding-right: rem-calc(20);

		box-shadow: 3px -2px 7px -3px rgba(50, 50, 50, 0.34);
	}
}

.footer-logo {
	width: 85%;
	padding-top: rem-calc(60);

	@media #{$small-only} {
		width: 50%;
    	margin: 0 25%;
	}
}

.footer-address {
	padding: rem-calc(42) 0;

	font-style: normal;
	font-size: rem-calc(17);
	line-height: 1.3;

	@media #{$small-only} {
		width: 66%;
    	margin: 0 26%;
	}
}

.footer-address-largebr {
	line-height: rem-calc(32);
}

.footer-mapfribourg {
	background: #eeeeee;
}

.footer-mapswitzerland {
	background: #e0e0e0;
}

.footer-bottom {
	height: rem-calc(117);

	background: #2c2c2c;
}

.footer-bottom-content {
	height: rem-calc(58);
	display: table-cell;
	
	vertical-align: middle;

	@media #{$large-up} {
		height: rem-calc(116);
	}
}

.footer-bottom-link {
	color: $white;
	font-size: rem-calc(14);
	text-transform: uppercase;

	transition: opacity 0.2s;

	&:not(:last-child) {
		margin-right: rem-calc(30);
	}

	&:hover {
		color: $white;
		opacity: 0.7;
	}

	@media #{$small-only} {
		display: block;
	}
}

.footer-bottom-lightlink {
	@extend .footer-bottom-link;

	opacity: 0.3;

	&:hover {
		opacity: 0.5;
	}
}