.form {
	padding-bottom: rem-calc(85);

	label {
		display: table-cell;
		height: rem-calc(57);

		line-height: 1.2;
		vertical-align: middle;
	}
}

.form-intro {
	margin: rem-calc(45) 0 rem-calc(85);

	font-size: rem-calc(21);
	font-weight: 300;
	text-align: center;
}

.form-button {
	padding: rem-calc(18) rem-calc(21);
}
form {
	width: 90%;
	@media #{$large-up}{
		width: 40%;
	}
	
	margin: 50px auto;
	.form-item {
		float: left;
		width: 100%;
		label {
			float: left;
			width: 100%;
		}
		input,
		select,
		textarea {
			float: left;
			width: 100%;
		}
		select {
			width: 100%;
		}
		@media #{$large-up}{
			label {
				float: left;
				width: 30%;
				padding-top: rem_calc(12);
			}
			input,
			select,
			textarea {
				float: left;
				width: 70%;
			}
			select {
				width: 40%;
			}
		}
	}
	#edit-submit {
		margin-left: 30%;
	}
	#edit-preview {
		display: none;
	}
	.description {
		display: none;
	}
}