@mixin header-height() {
    height: rem-calc(300);

    @media #{$medium-only} {
        height: rem-calc(400);
    }

    @media #{$large-up} {
        height: rem-calc(600);
    }

    @media #{$xxlarge-up} {
        height: rem-calc(739);
    }
}


.header {
    position: relative;
    
    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        @include align-horizontal();
        bottom: 0;
        z-index: 1;

        border-style: solid;
        border-width: 0 22px 22px 22px;
        border-color: transparent transparent $white transparent;
    }

    @include clear();
}

.header-main {
    @include header-height();

    position: relative;

    @include slick-arrows(white);

    .slick-prev {
        left: 5%;

        @media #{$xxlarge-up} {
            left: -15%;
        }
    }

    .slick-next {
        right: 5%;
    }
}

.header-main-item {
    @include header-height();

    background-size: cover;
    background-position: center;
}

.header-aside {
    @include header-height();

    width: calc(100% + 411px);
    position: relative;
    z-index: 1;
    background: #fff;
    clip-path: polygon(calc(100% - 301px) 100%, 100% 58%, calc(100% - 411px) 0, 0 0, 0 100%);
    -webkit-clip-path: polygon(calc(100% - 301px) 100%, 100% 58%, calc(100% - 411px) 0, 0 0, 0 100%);
}

.header-aside-clip {
    overflow: hidden;
    border-right: 4px solid #fff;
    border-right: 0;
    clip-path: polygon(calc(100% - 307px) 100%, calc(100% - 6px) 58%, calc(100% - 417px) 0, 0 0, 0 100%);
    -webkit-clip-path: polygon(calc(100% - 307px) 100%, calc(100% - 6px) 58%, calc(100% - 417px) 0, 0 0, 0 100%);
}

.header-aside-item {
    @include header-height();

    background-size: cover;
    background-position: center;
}

.header-title {
    position: absolute;
    @include align-vertical();
    right: 20%;
    left: 17%;
    margin-top: rem-calc(17);
    top: 44%;

    color: $white;
    line-height: 1.3;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    

    @media #{$medium-up} {
        right: 15%;
        left: 13%;
        margin-left: 5%;
        font-size: 25px;
        top: 50%;
    }

    @media #{$xxlarge-up} {
        left: 5rem;
        margin-left: 18%;
        font-size: 40px;
    }
}

.header-title-intro {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 400;
}

.header-title-main {
    font-weight: 900;
    text-transform: uppercase;
}
.message-action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #EFEFEF;
    border-bottom: 1px solid #6F6F6F;
    height: 50px;
    text-align: center;
    padding-top: 9px;
    -webkit-box-shadow: 0px 4px 28px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 28px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 28px -8px rgba(0,0,0,0.75);
}