.listing-item {
	margin-top: rem-calc(35);
}

.listing-item-content {
	padding-left: rem-calc(13);
	display: table-cell;
	vertical-align: middle;
	.wrapper {
		position: relative;
	}
}

.listing-item-title {
	@include title-secondary();
}

.listing-item-slider {
	border: solid 2px $white;
	box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.34);

	@include slick-arrows(white);

    .slick-prev {
        left: rem-calc(12);
    }

    .slick-next {
        right: rem-calc(12);
    }
}

.listing-link {
	margin: rem-calc(65) 0 rem-calc(95);

	text-align: center;
}