@mixin align-vertical() {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin align-horizontal() {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

@mixin clear() {
	&::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin slick-arrows($color) {

	.slick-arrow {
        position: absolute;
        z-index: 2;
        width: 0;
        height: 0;
        overflow: hidden;
        padding: rem-calc(55) rem-calc(55) 0 0;
        @include align-vertical();

        background-size: 100%;

        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }
	    
   .slick-prev {
        background-image: url(../img/layout/arrow_left_#{$color}.png);
    }

    .slick-next {
        background-image: url(../img/layout/arrow_right_#{$color}.png);
    }
}