.newsslider {
	padding: rem-calc(37) 0 0;
    margin-bottom: rem-calc(62);
	@include slick-arrows(primary);
    .slick-arrow {
        display: none !important;
        @media #{$medium-up}{
            display: inline-block !important;
        }
    }
    .slick-prev {
        left: -20%;

        @media #{$large-up} {
        	left: -30%;
        }
    }

    .slick-next {
        right: -20%;

        @media #{$large-up} {
        	right: -30%;
        }
    }

    .slick-dots {
        position: absolute;
        margin: 0;
        bottom: -45px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;

    	@media #{$medium-up} {
    		display: none !important;
    	}
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }

    .slick-dots li button::before {
        font-family: slick;
        font-size: 40px;
        line-height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 0.5;
        color: $primary-color;
        -webkit-font-smoothing: antialiased;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
    }
}

.newsslider-item {
    text-align: center;
    position: relative;
}

.newsslider-item-title {
	@include title-secondary();
	text-align: center;
}

.newsslider-item-button {
	margin-top: rem-calc(30);
}