.paragraph {
	padding: rem-calc(115) 0 rem-calc(100);

	&.t-bg {
		background: url(../img/layout/paragraph_bg.png) top center no-repeat;
		background-size: 100%;
	}
}
.page-node-type-news .paragraph {
	padding: 0 0 rem-calc(100);
}
.header+.t-bg{
	background: transparent;
}

.paragraph-content {
	position: relative;
}

.paragraph-title {
	@include title-main();
	text-align: left;
	margin-top: rem-calc(44);
}

.paragraph-downtitle {
	@extend .paragraph-title;

	margin-top: 0;

	@media #{$medium-up} {
		margin-top: rem-calc(35);
	}
}

.paragraph-button {
	margin: rem-calc(32) rem-calc(22) 0 0;
	padding-right: rem-calc(21);
	padding-left: rem-calc(21);
}

.paragraph-images {
	@include clear();

	margin: rem-calc(30) 0 rem-calc(14);
	
	@media #{$xlarge-up} {
		margin: rem-calc(30) 0 0 0;
		width: calc(110% + 20px);
	}
}

.paragraph-images-item {
	display: block;
	float: left;
	width: calc(50% - 7px);

	@media #{$xlarge-up} {
		border: solid 1px $white;

		box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.34);
	}

	&:last-child {
		float: right;
	}
}

.paragraph-logos {
	margin-top: rem-calc(50);
}

.paragraph-logos-item {
	display: block;
	float: left;

	&:not(:last-child) {
		margin: 0 rem-calc(45) rem-calc(45) 0;
	}
}