@mixin title-main() {
	color: $primary-color;
	font-family: 'Merriweather', serif;
	font-size: rem-calc(28);
	font-style: italic;
	font-weight: bold;
}

@mixin title-secondary() {
	margin-bottom: rem-calc(21);

	color: $medium-gray;
	font-size: rem-calc(26);
	font-weight: 900;
	text-transform: uppercase;
}