$top-bar-height: rem-calc(132);

.top-bar {
	height: $top-bar-height;

	li {
		@media #{$large-up} {
			height: $top-bar-height;
		}
	}

	a {
		transition: color 0.2s;

		&.is-active,
		&:hover {
			color: $secondary-color;
		}
	}
}

.top-bar-logo {
	width: 100%;
	height: $top-bar-height;
	position: relative;

	transition: opacity 0.2s;

	img {
		position: absolute;
		height: auto;
		@include align-vertical();
	}

	&:hover {
		opacity: 0.7;
	}
}

.top-bar-left {
	
	a {
		color: $black;
		font-size: rem-calc(15);
		text-transform: uppercase;
	}
}

.top-bar-right {

	padding: rem-calc(30) 0 rem-calc(30) rem-calc(12);

	@media #{$large-up} {
		padding: 0;
	}

	a {
		padding: rem-calc(8) rem-calc(11) !important;
		margin: 0 rem-calc(5);

		background-color: $light-gray;

		color: #525252;
		font-weight: normal;

		&:hover {
			background-color: $light-gray;
		}
	}
}