/*body::before {
	content: '';
	background: yellow;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
}

@media #{$small-only} {
	body::before {
		content: 'small';
	}
}

@media #{$medium-only} {
	body::before {
		content: 'medium';
	}
}

@media #{$large-only} {
	body::before {
		content: 'large';
	}
}

@media #{$xlarge-only} {
	body::before {
		content: 'xlarge';
	}
}
*/
