// Icons from directory "svg"
%icon {
	background-repeat: no-repeat
}
.icon-arrow-left-primary,
.icon-arrow-left-primary\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20version%3D%221.1%22%20id%3D%22arrow-left-primary-Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048.000002%22%20enable-background%3D%22new%200%200%2024.146%2036.162%22%20xml%3Aspace%3D%22preserve%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22arrow-left-primary.svg%22%3E%3Cmetadata%20id%3D%22arrow-left-primary-metadata9%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%3Cdc%3Atitle%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cdefs%20id%3D%22arrow-left-primary-defs7%22%2F%3E%3Csodipodi%3Anamedview%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20borderopacity%3D%221%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20inkscape%3Apageopacity%3D%220%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Awindow-width%3D%221332%22%20inkscape%3Awindow-height%3D%22826%22%20id%3D%22arrow-left-primary-namedview5%22%20showgrid%3D%22false%22%20inkscape%3Azoom%3D%226.5261879%22%20inkscape%3Acx%3D%22-15.048499%22%20inkscape%3Acy%3D%2218.080999%22%20inkscape%3Awindow-x%3D%22123%22%20inkscape%3Awindow-y%3D%2293%22%20inkscape%3Awindow-maximized%3D%220%22%20inkscape%3Acurrent-layer%3D%22Layer_1%22%2F%3E%3Cpolygon%20points%3D%220%2C5.974%207.759%2C13.733%2012.184%2C18.158%207.915%2C22.43%200.124%2C30.22%206.091%2C36.162%2024.146%2C18.105%205.935%2C0%20%22%20id%3D%22arrow-left-primary-polygon3%22%20transform%3D%22matrix%28-1%2C0%2C0%2C1%2C36.073%2C5.919001%29%22%20style%3D%22fill%3A%2392c256%3Bfill-opacity%3A1%22%2F%3E%3C%2Fsvg%3E');
}
.icon-arrow-left-white,
.icon-arrow-left-white\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20version%3D%221.1%22%20id%3D%22arrow-left-white-Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048.000002%22%20enable-background%3D%22new%200%200%2024.146%2036.162%22%20xml%3Aspace%3D%22preserve%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22arrow-left-primary.svg%22%3E%3Cmetadata%20id%3D%22arrow-left-white-metadata9%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%3Cdc%3Atitle%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cdefs%20id%3D%22arrow-left-white-defs7%22%2F%3E%3Csodipodi%3Anamedview%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20borderopacity%3D%221%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20inkscape%3Apageopacity%3D%220%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Awindow-width%3D%221332%22%20inkscape%3Awindow-height%3D%22826%22%20id%3D%22arrow-left-white-namedview5%22%20showgrid%3D%22false%22%20inkscape%3Azoom%3D%226.5261879%22%20inkscape%3Acx%3D%22-15.048499%22%20inkscape%3Acy%3D%2218.080999%22%20inkscape%3Awindow-x%3D%22123%22%20inkscape%3Awindow-y%3D%2293%22%20inkscape%3Awindow-maximized%3D%220%22%20inkscape%3Acurrent-layer%3D%22Layer_1%22%2F%3E%3Cpolygon%20points%3D%220%2C5.974%207.759%2C13.733%2012.184%2C18.158%207.915%2C22.43%200.124%2C30.22%206.091%2C36.162%2024.146%2C18.105%205.935%2C0%20%22%20id%3D%22arrow-left-white-polygon3%22%20transform%3D%22matrix%28-1%2C0%2C0%2C1%2C36.073%2C5.919001%29%22%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A1%22%2F%3E%3C%2Fsvg%3E');
}
.icon-arrow-right-primary,
.icon-arrow-right-primary\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20version%3D%221.1%22%20id%3D%22arrow-right-primary-Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048.000002%22%20enable-background%3D%22new%200%200%2024.146%2036.162%22%20xml%3Aspace%3D%22preserve%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22arrow.svg%22%3E%3Cmetadata%20id%3D%22arrow-right-primary-metadata9%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%3Cdc%3Atitle%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cdefs%20id%3D%22arrow-right-primary-defs7%22%2F%3E%3Csodipodi%3Anamedview%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20borderopacity%3D%221%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20inkscape%3Apageopacity%3D%220%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Awindow-width%3D%221332%22%20inkscape%3Awindow-height%3D%22826%22%20id%3D%22arrow-right-primary-namedview5%22%20showgrid%3D%22false%22%20inkscape%3Azoom%3D%226.5261879%22%20inkscape%3Acx%3D%22-15.048499%22%20inkscape%3Acy%3D%2218.080999%22%20inkscape%3Awindow-x%3D%22123%22%20inkscape%3Awindow-y%3D%2293%22%20inkscape%3Awindow-maximized%3D%220%22%20inkscape%3Acurrent-layer%3D%22Layer_1%22%2F%3E%3Cpolygon%20points%3D%225.935%2C0%200%2C5.974%207.759%2C13.733%2012.184%2C18.158%207.915%2C22.43%200.124%2C30.22%206.091%2C36.162%2024.146%2C18.105%20%22%20id%3D%22arrow-right-primary-polygon3%22%20transform%3D%22translate%2811.927%2C5.919001%29%22%20style%3D%22fill%3A%2392c256%3Bfill-opacity%3A1%22%2F%3E%3C%2Fsvg%3E');
}
.icon-arrow-right-white,
.icon-arrow-right-white\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20version%3D%221.1%22%20id%3D%22arrow-right-white-Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048.000002%22%20enable-background%3D%22new%200%200%2024.146%2036.162%22%20xml%3Aspace%3D%22preserve%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22arrow-left-white.svg%22%3E%3Cmetadata%20id%3D%22arrow-right-white-metadata9%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%3Cdc%3Atitle%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cdefs%20id%3D%22arrow-right-white-defs7%22%2F%3E%3Csodipodi%3Anamedview%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20borderopacity%3D%221%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20inkscape%3Apageopacity%3D%220%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Awindow-width%3D%221332%22%20inkscape%3Awindow-height%3D%22826%22%20id%3D%22arrow-right-white-namedview5%22%20showgrid%3D%22false%22%20inkscape%3Azoom%3D%226.5261879%22%20inkscape%3Acx%3D%22-15.048499%22%20inkscape%3Acy%3D%2218.080999%22%20inkscape%3Awindow-x%3D%22123%22%20inkscape%3Awindow-y%3D%2293%22%20inkscape%3Awindow-maximized%3D%220%22%20inkscape%3Acurrent-layer%3D%22Layer_1%22%2F%3E%3Cpolygon%20points%3D%227.759%2C13.733%2012.184%2C18.158%207.915%2C22.43%200.124%2C30.22%206.091%2C36.162%2024.146%2C18.105%205.935%2C0%200%2C5.974%20%22%20id%3D%22arrow-right-white-polygon3%22%20transform%3D%22translate%2811.927%2C5.919001%29%22%20style%3D%22fill%3A%23ffffff%3Bfill-opacity%3A1%22%2F%3E%3C%2Fsvg%3E');
}