// Icons from directory "svg"
%icon {
	background-repeat: no-repeat
}
.icon-arrow-left-primary,
.icon-arrow-left-primary\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 0;
}
.icon-arrow-left-white,
.icon-arrow-left-white\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -48px;
}
.icon-arrow-right-primary,
.icon-arrow-right-primary\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -96px;
}
.icon-arrow-right-white,
.icon-arrow-right-white\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -144px;
}