{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{% if label_hidden %}
  {% if multiple %}
  	<div class="header">
  		<style>
            @-moz-document url-prefix() {
                .header-aside {
                    clip-path: url(#headerpath1);
                }
                .header-aside-clip {
                    clip-path: url(#headerpath2);
                }
            }
        </style>
		<!--
        <svg height="0" width="0">
            <clipPath id="headerpath1">
                <polygon points="0,0 0,739 417,739 716,428 308,0" />
            </clipPath>
            <clipPath id="headerpath2">
                <polygon points="0,0 0,739 411,739 710,428 302,0" />
            </clipPath>
        </svg>
		-->
	    <div class="row small-collapse">
		    <div class="medium-4 columns show-for-xxlarge">
		        <div class="header-aside">
		            <div class="header-aside-clip">
		                <div data-slick-aside>
					      {% for item in items %}
					        <div{{ item.attributes }}><div class="header-aside-item" style="background-image: url('{{ item.content['#item'].entity.uri.value|image_style('730x740') }}');"></div></div>
					      {% endfor %}
					    </div>
					</div>
				</div>
			</div>

		    <div class="medium-24 xxlarge-20 columns">
		        <div class="header-main">
		            <div data-slick-main>
		            	{% set count = 0 %}
		            	{% for key,item in items %}
		            		{% if count > 0 %}
					        	<div{{ item.attributes }}><div class="header-main-item" style="background-image: url('{{ item.content['#item'].entity.uri.value|image_style('1600x740') }}');"></div>
					        		{% if count == 1 %}
							        	{% if is_front %}
											<h1 class="header-title"><span class="header-title-intro">{% trans %}Bienvenue sur le site du{% endtrans %}</span><br><strong class="header-title-main">{{ site_name }}</strong></h1>
										{% endif %}
									{% endif %}
					        	</div>
		            		{% endif %}
		            		{% set count = count + 1 %}
					    {% endfor %}
					    {% set item = items|first %}
						<div><div class="header-main-item" style="background-image: url('{{ item.content['#item'].entity.uri.value|image_style('1600x740') }}');"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
  {% else %}
    <div class="header">
	    <div class="row small-collapse">
		    <div class="medium-4 columns show-for-xxlarge">
		        <div class="header-aside">
		            <div class="header-aside-clip">
		                <div data-slick-aside>
					      {% for item in items %}
					        <div{{ item.attributes }}><div class="header-aside-item" style="background-image: url('{{ file_url(item.content['#item'].entity.uri.value) }}');"></div></div>
					      {% endfor %}
					    </div>
					</div>
				</div>
			</div>

		    <div class="medium-24 xxlarge-20 columns">
		        <div class="header-main">
		            <div data-slick-main>
		            	{% set count = 0 %}
		            	{% for key,item in items %}
		            		{% if count > 0 %}
					        	<div{{ item.attributes }}><div class="header-main-item" style="background-image: url('{{ file_url(item.content['#item'].entity.uri.value) }}');"></div></div>
		            		{% endif %}
		            		{% set count = count + 1 %}
					    {% endfor %}
					    {% set item = items|first %}
						<div><div class="header-main-item" style="background-image: url('{{ file_url(item.content['#item'].entity.uri.value) }}');"></div></div>
					</div>
					{% if is_front %}
						<h1 class="header-title"><span class="header-title-intro">{% trans %}Bienvenue sur le site du{% endtrans %}</span><br><strong class="header-title-main">{{ site_name }}</strong></h1>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
