{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<header>
    <div class="title-bar" data-responsive-toggle="mainnav" data-hide-for="xlarge">
        <div class="title-bar-logo">
            <img src="{{ logopath }}" alt="Campus Schwarzsee/Lac-Noir">
        </div>
        <button class="menu-icon" type="button" data-toggle></button>
    </div>
    <div class="top-bar small-collapse large-uncollapsed" id="mainnav">
        <div class="large-offset-1 xxlarge-offset-3 large-5 columns show-for-xlarge">
            <a href="{{ base_path }}">
                <div class="top-bar-logo">
                    <img src="{{ logopath }}" alt="Campus Schwarzsee/Lac-Noir">
                </div>
            </a>
        </div>
        <div class="large-18 xlarge-offset-1 xlarge-13 xxlarge-11 columns">
            {{ page.primary_menu }}
        </div>
        <div class="large-offset-1 large-4 xlarge-2 columns end">
            <nav class="top-bar-right">
                {{ page.language }}
            </nav>
        </div>
    </div>
</header>
<section>
    <div class="header">
        <style>
            @-moz-document url-prefix() {
                .header-aside {
                    clip-path: url(#headerpath1);
                }
                .header-aside-clip {
                    clip-path: url(#headerpath2);
                }
            }
        </style>
        <!--<svg height="0" width="0">
            <clipPath id="headerpath1">
                <polygon points="0,0 0,739 417,739 716,428 308,0" />
            </clipPath>
            <clipPath id="headerpath2">
                <polygon points="0,0 0,739 411,739 710,428 302,0" />
            </clipPath>
        </svg>-->
        <div class="row small-collapse">
            <div class="medium-4 columns show-for-xxlarge">
                <div class="header-aside">
                    <div class="header-aside-clip">
                        <div data-slick-aside>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_batiment1.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_lac1.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_restauration.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_hebergement.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_sallesport2.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_batiment2.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_lac2.jpg');"></div>
                            </div>
                            <div>
                                <div class="header-aside-item" style="background-image: url('/themes/campusfr/img/dev/slider_sallesport1.jpg');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-24 xxlarge-20 columns">
                <div class="header-main">
                    <div data-slick-main>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_sallesport1.jpg');"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_batiment1.jpg');"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_lac1.jpg');"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_restauration.jpg');"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_hebergement.jpg');"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_sallesport2.jpg');">"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_batiment2.jpg');"></div>
                        </div>
                        <div>
                            <div class="header-main-item" style="background-image: url('/themes/campusfr/img/dev/slider_lac2.jpg');"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-16 medium-centered large-12 columns">
            <h1 class="section-title">{% trans %}Contact - informations - renseignements{% endtrans %}</h1>
            <p class="form-intro">{% trans %}Nous sommes à votre entière disposition pour tous renseignements ou pour organiser une réservation ou une visite de notre campus. <strong>N'hésitez pas à nous contacter!</strong>{% endtrans %}</p>
        </div>
    </div>
    {{ page.content }}

    {% if page.footer %}
        <footer role="contentinfo">
            {{ page.footer }}
        </footer>
    {% endif %}
</section>
<footer class="footer" data-equalizer data-equalize-on="medium">
    <div class="row medium-collapse">
        <div class="medium-6 large-5 xlarge-4 xxlarge-offset-3 xxlarge-3 columns">
            <div class="footer-left" data-equalizer-watch>
                <img class="footer-logo" src="{{ base_path }}themes/campusfr/img/content/logo_footer.png" alt="Campus Schwarzsee Lac-Noir">
                {{ page.footer_address }}
            </div>
        </div>
        <div class="medium-8 large-8 xxlarge-7 columns footer-mapfribourg" data-equalizer-watch>
            <img src="{{ base_path }}themes/campusfr/img/content/map_fribourg.png" alt="Carte canton">
        </div>
        <div class="medium-10 large-11 xlarge-12 xxlarge-11 columns footer-mapswitzerland" data-equalizer-watch>
            <img src="{{ base_path }}themes/campusfr/img/content/map_switzerland.png" alt="Carte Suisse">
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row medium-collapse">
            {{ page.second_footer }}
        </div>
    </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77945693-1', 'auto');
  ga('send', 'pageview');

</script>